{% extends "layout.twig" %}

{% set item_name = 'contact_list' %}

{% block content %}
<div class="row">
	<div class="col-md-7">
		<h1>Мои контакты</h1>
	</div>
	<div class="col-md-5">
		<div class="dropdown text-right">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Сортировка по номеру 1-9
			</button>
			<div class="dropdown-menu" aria-labelledby="sortMenuButton">
				<a class="dropdown-item active" href="#">номеру 1-9</a>
				<a class="dropdown-item" href="#">номеру 9-1</a>
				<a class="dropdown-item" href="#">имени А-Я</a>
				<a class="dropdown-item" href="#">имени Я-А</a>
				<a class="dropdown-item" href="#">фамилии А-Я</a>
				<a class="dropdown-item" href="#">фамилии Я-А</a>
			</div>
		</div>
	</div>
</div>

<br>
{% for contact in contacts %}
<div class="card">
	<img src="{{ upload_directory }}/{{ contact.photo|default('no.gif') }}" alt="{{ contact.first_name }} {{ contact.last_name }}" class="card-img-top">
	<div class="card-body">
		<h4 class="card-title">#{{ contact.id }} {{ contact.first_name }} {{ contact.last_name }}</h4>
		<p><b>E-mail</b>: {{ contact.email }}</p>
		<p><b>Телефон</b>: {{ contact.phone }}</p>
		<p><b>Комментарий</b>:</p>
		{% if contact.comment is empty %}
		<small><i>Нет</i></small>
		{% else %}
		<pre>{{ contact.comment }}</pre>
		{% endif %}
	</div>
</div>
{% else %}
<p>Нет контактов.</p>
{% endfor %}

<br>

<nav>
	<ul class="pagination justify-content-end">
		<li class="page-item active"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
	</ul>
</nav>
{% endblock %}