{% extends "layout.twig" %}

{% set item_name = 'contact_list' %}

{% block content %}
<div class="row">
	<div class="col-md-7">
		<h1>Мои контакты</h1>
	</div>
	<div class="col-md-5">
		<div class="dropdown text-right">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Сортировка по номеру 1-9
			</button>
			<div class="dropdown-menu" aria-labelledby="sortMenuButton">
				<a class="dropdown-item{% if sort=='id_asc' %} active{% endif %}" href="{{ path_for('contact_list', [], { 'sort': 'id_asc' }) }}">номеру 1-9</a>
				<a class="dropdown-item{% if sort=='id_desc' %} active{% endif %}" href="{{ path_for('contact_list', [], { 'sort': 'id_desc' }) }}">номеру 9-1</a>
				<a class="dropdown-item{% if sort=='first_name_asc' %} active{% endif %}" href="{{ path_for('contact_list', [], { 'sort': 'first_name_asc' }) }}">имени А-Я</a>
				<a class="dropdown-item{% if sort=='first_name_desc' %} active{% endif %}" href="{{ path_for('contact_list', [], { 'sort': 'first_name_desc' }) }}">имени Я-А</a>
				<a class="dropdown-item{% if sort=='last_name_asc' %} active{% endif %}" href="{{ path_for('contact_list', [], { 'sort': 'last_name_asc' }) }}">фамилии А-Я</a>
				<a class="dropdown-item{% if sort=='last_name_desc' %} active{% endif %}" href="{{ path_for('contact_list', [], { 'sort': 'last_name_desc' }) }}">фамилии Я-А</a>
			</div>
		</div>
	</div>
</div>

<br>
{% for contact in contacts %}
<div class="card">
	{% if contact.photo is null %}
	<img src="http://vk.com/images/deactivated_400.gif" alt="{{ contact.first_name }} {{ contact.last_name }}" class="card-img-top">
	{% else %}
	<img src="{{ upload_directory }}/{{ contact.photo }}" alt="{{ contact.first_name }} {{ contact.last_name }}" class="card-img-top">
	{% endif %}
	<div class="card-body">
		<h4 class="card-title">#{{ contact.id }} {{ contact.first_name }} {{ contact.last_name }}</h4>
		<p><b>E-mail</b>: {{ contact.email }}</p>
		<p><b>Телефон</b>: {{ contact.phone }}</p>
		<p><b>Комментарий</b>:</p>
		{% if contact.comment is empty %}
		<small><i>Нет</i></small>
		{% else %}
		<pre>{{ contact.comment }}</pre>
		{% endif %}
	</div>
</div>
{% else %}
<p>Нет контактов.</p>
{% endfor %}

<br>

{% if pagination.needed %}
	<nav>
		<ul class="pagination">
		{% for i in 1..pagination.lastpage %}
            <li class="page-item{% if i == pagination.page %} active{% endif %}"><a class="page-link" href="{{ path_for('contact_list', [], { 'sort':sort, 'page': i }) }}">{{ i }}</a></li>
        {% endfor %}
		</ul>
	</nav>
{% endif %}

{% endblock %}